{
  "parser": "@typescript-eslint/parser",
  "env": {
    "browser": true,
    "es2020": true,
    "cypress/globals": true,
    "jquery": true,
    "node": true
  },
  "globals": {
    "jsPsych": true,
    "axios": true,
    "Survey": true,
    "interact": true
  },
  "extends": [
    "eslint:recommended",
    "prettier",
    "plugin:cypress/recommended",
    "plugin:import/errors",
    "plugin:import/warnings"
  ],
  "plugins": ["cypress", "import", "chai-friendly"],
  "rules": {
    "no-unused-vars": "warn"
  },
  "settings": {
    "import/resolver": {
      "node": {
        "extensions": []
      }
    },
    "import/extensions": [".js"]
  },
  "parserOptions": {
    "sourceType": "module"
  }
}
