[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
rope = "*"

[packages]
flask = "*"
flask-cors = "*"
pylint = "*"
futures = "*"
autopep8 = "*"
numpy = "*"
pandas = "*"
pytest = "*"

[requires]
python_version = "2.7"

[pipenv]
allow_prereleases = true
