[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
flask = "*"
flask-cors = "*"
pylint = "*"
random-username = "*"
waitress = "*"
pytest = "*"
rope = "*"
yapf = "*"
coverage = "*"
snapshottest = "*"
paste = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
