<!DOCTYPE html>
<html lang="en" style="height:64%;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="../../lib/jspsych-6.1.0/jspsych.js"></script>

    <!-- Add the necessary jsPsych plugins here -->
    <script src="../../lib/jspsych-6.1.0/plugins/jspsych-fullscreen.js"></script>
    <script src="../../lib/jspsych-6.1.0/plugins/lupyanlab-consent.js"></script>
    <script src="../../lib/jspsych-6.1.0/plugins/jspsych-instructions.js"></script>
    <script src="../../lib/jspsych-6.1.0/plugins/lupyanlab-shape-descriptions.js"></script>
    <script src="../../lib/jspsych-6.1.0/plugins/lupyanlab-surveyjs.js"></script>
    <script src="../../lib/jspsych-6.1.0/plugins/jspsych-html-keyboard-response.js"></script>

    <link href="../../lib/jspsych-6.1.0/css/jspsych.css" rel="stylesheet" type="text/css" />
    <link href="./main.css" rel="stylesheet" type="text/css" />
    <link href="../../lib/survey.css" rel="stylesheet" type="text/css" />
    <script src="../../lib/axios-0.19.2/axios.min.js"></script>
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/survey.jquery.js"></script>
    <script type="module" src="../../utils/add-title.js"></script>
  </head>

  <body style="position:relative;height:100%;">
    <script type="module" src="../../utils/preloader.js"></script>
    <script type="module" src="./experiment.js"></script>
  </body>
</html>
