<!DOCTYPE html>
<html lang="en" style="height:64%;">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="../../lib/jspsych-6.1.0/jspsych.js"></script>
    <!-- ADDING <SCRIPT> ELEMENTS FOR PLUGINS ARE NOT NECESSARY -->
    <!-- ALL PLUGINS IN PLUGIN FOLDER WILL BE IMPORTED IN INDEX.JS -->
    <link href="../../lib/jspsych-6.1.0/css/jspsych.css" rel="stylesheet" type="text/css" />
    <script src="../../lib/axios-0.19.2/dist/axios.js"></script>
    <script src="../../lib/jquery.min.js"></script>
    <script src="../../lib/survey.jquery.js"></script>
    <!-- <link rel="stylesheet" type="text/css" href="../../lib/bootstrap.min.css" /> -->
    <link rel="stylesheet" type="text/css" href="./main.css" />

    <title>Picture Rate</title>
  </head>

  <body style="position:relative;height:100%;">
    <script type="module" src="./experiment.js"></script>
  </body>
</html>
